<h1>Profile for <%= @user.username %></h1>

<%= avatar_for(@user) %>
<%= @user.description %>
<% if user_signed_in? && current_user?(@user) %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>
